<section class="section">
    <div class="section__container container col">
      <h2 class="section__title">New Item</h2>
      <div class="card">
      <form method="POST" action="data">
        
        
  
          <input [(ngModel)]="productName" name="product" class="card__product" type="text" value="" placeholder="Product name">
          <input [(ngModel)]="productPrice" name="price" class="card__price" type="number" value="" placeholder="Price">
          <input [(ngModel)]="productAmount" name="amount"class="card__amount" type="number" value="" placeholder="Quantity">
  
          <button (click)="addToList()" value="" name="cta-btn" type="submit">
            <i class="fas fa-plus-circle"></i>
            Add
          </button>
          
        </form>
          <app-sum-view [sum]="sum">{{sum}}</app-sum-view>
        </div>
            <table class="table" *ngIf="items[0]">
              <thead>
                <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
            <tr *ngFor="let item of items">
  
              <!-- <app-item [item]="item"></app-item> -->

              <td class="item">
                {{ item.productName }} 
              </td>
              <td class="item">
                  {{ item.productPrice | currency }}
              </td>
              <td class="item">
                  {{ item.productAmount }}
              </td>
  
            </tr>
          </tbody>
          </table>

  
        
      
    </div>
<!--     
    <table class="table">
      <th>Name</th><th>Price</th><th>Amount</th>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Amount</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Amount</td>
      </tr>
    </table> -->
  
  </section>